<div class="container-fluid">

  <!-- http://stackoverflow.com/questions/22774780/bootstrap-full-width-text-input-within-inline-form -->
  <div class="row" id="main-search">
    <form accept-charset="UTF-8" action="<%= root_path %>" method="get">
      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>

      <div class="form-group">
        <div class="col-lg-3 input-group-lg">
          <div class="input-daterange" id="datepicker">
            <div class="input-group">
              <input type="text" class="input-small form-control" name="start" value="1850-01-01" placeholder="1850-01-01"/>
              <span class="input-group-addon">to</span>
              <input type="text" class="input-small form-control" name="end" value="1995-01-01" placeholder="1995-01-01"/>
            </div>
          </div>
        </div>

        <div class="col-lg-1">
          <select class="form-control" name="collection">
            <option>NL</option>
            <option>DE</option>
          </select>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control input-lg" name="search" id="search-church" placeholder="Your query (Keywords, Phrases, Boolean Expressions)">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit">Search</button>
          </span>
        </div>
      </div>

    </form>
  </div>

  <div class="row-fluid <%= if @only_search then 'hide' end %>">
    <div class="col-md-3" id="main-sidepanel">
      <div id="main-search-options">
        <% if @documents.respond_to?(:total_count) and @documents.total_count > 0 %>
          <div class="alert alert-info">
            <p><strong>Documents found:</strong> <%= @documents.total_count %></p>
            <p><strong>You searched for:</strong> <%= @text %></p>
            <p><strong>Between:</strong> <%= @date_start  %> and <%= @date_end %></p>
          </div>
        <% end %>
      </div>

      <h3>Restrict results</h3>
      <div class="alert alert-warning" id="facets">
        <strong>Browse by Location:</strong>
        <ul class="list-unstyled" style="margin-bottom: 10px">
          <% if @documents %>
            <% for row in @query.facet(:location).rows -%>
              <li class="list-unstyled"><%= link_to(row.value, url_for(:location => row.value)) %> (<%= row.count %>)</li>
            <% end -%>
          <% end  %>
        </ul>

        <strong>Browse by Type:</strong>
        <ul class="list-unstyled" style="margin-bottom: 10px">
          <li><a href="#">Daily</a> (123)</li>
          <li><a href="#">Weekly</a> (12)</li>
          <li><a href="#">Biweekly</a> (16)</li>
        </ul>

        <strong>Browse by Source:</strong>
        <ul class="list-unstyled" style="margin-bottom: 10px">
          <li><a href="#">Algemeen Handelsblad</a> (430)</li>
          <li><a href="#">Het Centrum</a> (567)</li>
          <li><a href="#">De Telegraaf</a> (457)</li>
          <li><a href="#">Het volk</a> (421)</li>
          <li><a href="#">De standaard</a> (17)</li>
        </ul>
      </div>

      <button type="button" class="btn btn-primary">Download all documents</button>
    </div>

    <div class="col-md-9" id="main-search-results">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#main-search-list" data-toggle="tab">Result List</a></li>
          <li><a href="#main-search-wordcloud" data-toggle="tab">Wordcloud</a></li>
          <li><a href="#main-search-timeline" data-toggle="tab">Timeline</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="main-search-list">
            <% if @documents.respond_to?(:total_count) and @documents.total_count > 0 %>
              <%= will_paginate @documents, :renderer => BootstrapPagination::Rails %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Box</th>
                    <th>Doc ID</th>
                    <th>Document Title</th>
                    <th>Issue Date</th>
                    <th>Location</th>
                  </tr>
                </thead>

                <tbody>
                  <% @documents.each do |document| %>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td><%= document.id %></td>
                      <td><%= link_to document.title, document %></td>
                      <td><%= document.date %></td>
                      <td><%= document.location %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            <% else %>

              <div class="alert alert-danger main-page-warning"><strong>No results found:</strong> try searching again!</div>

            <% end %>
          </div>
          <div class="tab-pane" id="main-search-wordcloud">
            <div><%= image_tag 'wordcloud.png' %></div>
          </div>
          <div class="tab-pane" id="main-search-timeline">
            <div><%= image_tag('timeline.png', height: '250', width: '700') %></div>
            <div class="alert alert-info main-page-warning">Timeline: to be awaited...</div>
          </div>
        </div>
      </div> <!-- tabbable -->
    </div>

  </div>
</div>
