<div class='container-fluid'>
  <div class="row <%= 'vertical-center' unless @search %>" id='main-search'>
    <div class='col-sm-8 col-sm-offset-2'>
      <%= form_tag search_path, method: :get do %>
        <div class='input-group input-group-lg'>
          <%= text_field :search, :q, value: @query,
          class: 'form-control input-lg',
            placeholder: 'Put our query (Keywords, Phrases, Boolean Expressions)' %>
          <span class='input-group-btn'>
            <%=  submit_tag 'Search', class: 'btn btn-default btn-lg' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <% if @search %>
    <div class='row' id='main-results'>
      <% if @search.results.respond_to?(:total_count) and @search.results.total_count > 0 %>
        <!-- Side Panel. -->
        <div class="col-sm-2" id="main-sidepanel">
          <div class="alert alert-info" id='main-search-options'>
            <p><strong>Documents found:</strong> <%= @search.results.total_count %></p>
            <p><strong>Between:</strong> <%= @date_start  %> and <%= @date_end %></p>
          </div>
          <%=  debug @old_params %>
          <!-- Facets -->
          <h3>Restrict results by:</h3>
          <div class="alert alert-warning" id="facets">
            <dl class='list-unstyled'>
              <dt>Location:</dt>
              <% @search.facet(:location).rows.each do |row| %>
                <dd><%= link_to row.value, search_path(search:
                                                       {location: row.value,
                                                        q: @query}) %>
                  (<%= row.count %>)
                </dd>
              <% end %>
              <% if params[:search][:location].present? %>
                <% params[:search].delete(:location) %>
                <%= link_to('-remove selection', search_path(params), class: 'remove') %>
              <% end %>
            </dl>

            <dl class='list-unstyled'>
              <dt>Document collection:</dt>
              <% @search.facet(:collection).rows.each do |row| %>
                <dd><%= link_to row.value, search_path(search:
                                                       {collection: row.value,
                                                        q: @query}) %>
                  (<%= row.count %>)
                </dd>
              <% end %>
              <% if params[:search][:collection].present? %>
                <% params[:search].delete(:collection) %>
                <%= link_to('-remove selection', search_path(params), class: 'remove') %>
              <% end %>
            </dl>
          </div>
          <div class='input-group'>
            <button type="button" class="btn btn-primary">Download all documents</button>
          </div>
        </div>
        <!-- Main Panel. -->
        <div class="col-sm-8" id="main-search-results">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#main-search-list" data-toggle="tab">Result List</a></li>
              <li><a href="#main-search-wordcloud" data-toggle="tab">Wordcloud</a></li>
              <li><a href="#main-search-timeline" data-toggle="tab">Timeline</a></li>
            </ul>
            <div class="tab-content">
              <!-- @FIXME: Let this table be only 8 columns wide.-->
              <div class="tab-pane active" id="main-search-list">
                <%= will_paginate @search.results, :renderer => BootstrapPagination::Rails %>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Box</th>
                      <th>Score</th>
                      <th>Doc ID</th>
                      <th>Document Title</th>
                      <th>Issue Date</th>
                      <th>Location</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @search.each_hit_with_result do |hit, document| %>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td><%= hit.score %></td>
                        <td><%= document.id %></td>
                        <td><%= link_to document.title, document %></td>
                        <td><%= document.date %></td>
                        <td><%= document.location %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- Wordcloud tab -->
              <div class="tab-pane" id="main-search-wordcloud">
                <div><%= image_tag 'wordcloud.png' %></div>
              </div>
              <!-- Timeline tab -->
              <div class="tab-pane" id="main-search-timeline">
                <div><%= image_tag('timeline.png', height: '250', width: '700') %></div>
              </div>
            </div>
          </div> <!-- tabbable -->
        </div>
      <% else %>
        <!-- @FIXME: Provide better formatting for missing results. -->
        <div class='well well-lg col-sm-8 col-sm-offset-2'>
          <h3>Your search - <%= @query %> - did not match any documents.</h3>
          <dl>
            <dt>Suggestions:</dt>
            <dd>Make sure that all words are spelled correctly.</dd>
            <dd>Try different keywords.</dd>
            <dd>Try more general keywords.</dd>
            <dd>Try fewer keywords.</dd>
          </dl>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
